- var pageTitle = 'One project'

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include styles/style.css
        title pageTitle
    body 
        include modules/header

        main 
            .main_container 
                h1 Main

        include modules/footer